.btn{
    position:relative;
    font-size:1.2em;
    font-weight:300;
    color:#fff;
    text-shadow:none;
    border-radius:0px;
    background: #fff;
    text-decoration: none;
 }
 
 /*.btn:hover{
    background: #4a0112;
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.22);
    color:#fff;
 }*/
 
 #modalContent{
    position:absolute;
    top:10%;
    left:35%;
    z-index:6;
    float:left;
    margin:-2% 0px 0px -150px;
    width:800px;
    color:#888888;
    line-height:22px;
    padding:15px;
    border-radius:5px;
    background:#ffffff;
    /*border:1px solid #f7be68;*/
    box-shadow:5px 5px 10px 0px rgba(0,0,0,0.22);
    overflow-y: scroll;
    margin-bottom: 12px;
    overflow-x: hidden;
    
 }
 
 #modal{
    position:fixed;
    top:0px;
    left:0px;
    z-index:5;
    float:left;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.2);
    display:none;
    opacity:0;
    
 }
 
 #modal > a{
    position:fixed;
    top:0px;
    left:0px;
    z-index:1;
    float:left;
    width:100%;
    height:100%;
 }
 
 :target{
    display:block!important;
    opacity:1!important;
 }
 
 #modalContent > a{
    position:absolute;
    top:-4px;
    right:-4px;
    color: #fff;
    border-radius:2px;
    background:#4a0112;
    padding:10px;
    font-size: 30px;
    text-decoration: none;
 }
 